@media (min-width: 600px) {
  #articles .container {
    padding: 2rem;
  }

  #main-nav {
    padding: 1rem 0 0.75rem;
  }
  
  #main-nav .flex {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #main-nav .logo,
  #main-nav ul a {
    margin: 0;
  }

  #main-nav ul {
    padding: 0;
  }

  .articles-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .sub-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }

  .footer-col {
    border-bottom: none;
    padding: 0 1rem 0 0;
  }

}

@media (min-width: 1024px) {
  .articles-container {
    grid-template-columns: repeat(3, 1fr);
  }
}